body{
    background-color: rgb(8, 6, 29);
    color: rgb(255, 255, 255);
    margin: 60px;
}
span {
    color: red;
}
p {
    text-indent: 20px;
}

code{
    color: whitesmoke;
    background-color: black;  
}


img {
    border-radius: 50%;
    border:2px solid #eb0000; 
    padding:5px; 
    margin:3px
}

footer {
    margin: 20px auto;
    text-align: center;
}

.para1{
    color:rgb(255, 255, 255);
    font-family: 'Courier New', monospace;
}

.titlu{
    color:rgb(255, 255, 255);
    font-family: 'Courier New', monospace;
    text-decoration:underline;
}

.titlu:hover{
    color:#eb0000;
}

.social-icon{
    color:rgb(245, 235, 168);
    --ionicon-stroke-width: 16px;
    margin: 2px;
}

ion-icon {
    font-size: 22px; //Preferred size here

}

.social-icon:hover{
    color:red;
}

.container {
    display: flex;
    align-items: center;
  }

  img {
    max-width: 100%
  }

  .container {
    flex-basis: 30%
  }

  .text {
    font-size: 40px;
    padding-left: 20px;
  }

  h3{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:red;
    font-size: 0.9em;
  }

  h3:hover, #para1:hover{
    color:red;
  }

  .titlu:first-letter{
    color:rgb(255, 0, 242);
  }

  h3:hover::first-letter{
    color:rgb(238, 0, 255);
  }

  .container .hoverImg {
    visibility: hidden;
  }
  
  .container:hover .hoverImg {
    display: inline;
  }

  .parent{
    border: 2px solid red;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 500px;
    flex-wrap: wrap;
  }

  .child{
    color: white;
    font-size: 20px;
    padding: 20px;
  }

  .child1{
    background-color: blue;
  }
  .child2{
    background-color: red;
  }
  .child3{
    background-color: yellow;
  }

  .parenttable{
    display: flex;
    flex-direction:column;
    width: 60%;
  }

  .parenttable2{
    display: flex;
    flex-direction:column;
    width: 30%;
  }

  .parentparent{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
  }

  .c1{
    padding: 30px;
    margin: 20px;
  }

  .d1{
    background-color: rgb(10, 18, 4);
    border: solid#eb0000;
  }
