body{
    background-color: rgb(8, 6, 29);
    color: rgb(255, 255, 255);

}
span {
    color: red;
}
p {
    text-indent: 20px;
}

code{
    color: whitesmoke;
    background-color: black;  
}
pre{
    color: whitesmoke;
    background-color: black;
    scrollbar-color: dark;
    width: 100%;
    max-height: 800px;
    display: inline-block;
    overflow: auto;  
}

img {
    border-radius: 50%;
}

footer {
    margin: 20px auto;
    text-align: center;
}

#para1{
    color:rgb(245, 235, 168);
    font-family: 'Courier New', monospace;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }

  img {
    max-width: 100%
  }

  .image {
    flex-basis: 30%
  }

  .text {
    font-size: 40px;
    padding-left: 20px;
  }